:root {
  --primary: #2c2c2c;
  --secondary: #303030;
  --text_primary: #f7f7f7;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  /* background-color: #dde1f9f3; */
  background-color: var(--primary);
  color: var(--text_primary);
}

body {
  font-size: 14px;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.questionFrom .imageOption .ant-row.ant-form-item-row {
  align-items: center !important;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
  display: none;
}
.scroll::-webkit-scrollbar {
  display: block;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: rgb(215, 210, 210); */
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* global */
.custom_shadow {
  box-shadow: 0px 0px 6px -2px #000;
}

/* routineTimeLine */
.routineTimeLine .ant-timeline-item-head {
  margin-inline-start: -4px !important;
}
